=button_to 'Publish', action: 'publish', method: :post

- if @currency
  %table
    %thead
      %tr
        %th UUID
        %th Created
        %th Updated
        %th Consumer1 Ack
        %th Consumer2 Ack
        %th Consumer3 Ack
    %tbody
      %tr
        %td= @currency.id
        %td= @currency.created_at
        %td= @currency.updated_at
        %td= @currency.consumer1_ack
        %td= @currency.consumer2_ack
        %td= @currency.consumer3_ack
